@import 'src/styles/variables';
@import 'src/styles/mixins';

.Menu {
  background: #fff;
  padding: 80px 0 156px;
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  min-height: calc(100vh - 193px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;

  @media (max-width: $desktop) {
    padding: 40px 0 76px;
    top: 52px;
    min-height: calc(100vh - 170px);
  }
}

.Wrapper {
  display: flex;
  width: 100%;
}
