@import 'src/styles/variables';
@import 'src/styles/mixins';

.Back {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;

  svg {
    fill: $gray;
  }

  @media (max-width: $mobileLarge) {
    svg {
      fill: $black;
    }
  }
}
