@import 'src/styles/variables';
@import 'src/styles/mixins';

.Modal {
  .SendButton {
    padding: 12px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
  }
}

.ModalHeader {
  .Title {
    margin: 0;
  }

  .Divider {
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      margin-bottom: 8px;
    }

    @media (max-width: $mobileLarge) {
      margin-bottom: 25px;
    }
  }

  .Breadcrumbs {
    margin-bottom: 16px;
    @media (max-width: $mobileLarge) {
      display: none;
    }
  }
}

.Count {
  margin: 0;
}

.Empty {
  margin-top: 180px;

  @media (max-width: $tablet) {
    margin-top: 70px;
  }
}

.EmptyTitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 60px;
}

.EmptyButton {
  margin: 0 auto;
  display: block;
  max-width: 320px;
}

.TitleAndCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    margin-bottom: 28px;
  }

  @media (max-width: $mobileLarge) {
    margin-bottom: 20px;
  }
}

.List {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Item {
  margin-bottom: 32px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Info {
  margin-bottom: 20px;
  margin-top: 10px;
}

.InfoItem {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;

  @media (max-width: $tablet) {
    margin-bottom: 16px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.InfoTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.InfoValue,
.InfoTitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: $black;

  @media (max-width: $desktop) {
    font-size: 13px;
    line-height: 20px;
  }

  @media (max-width: $tablet) {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
}

.InfoValue {
  font-weight: 800;

  @media (max-width: $tablet) {
    font-weight: 600;
  }
}

.Red {
  color: $red;
}

.Green {
  color: $green;
}

.Footer {
  margin-top: 40px;
}
