@import 'src/styles/variables';
@import 'src/styles/mixins';

.HistoryOrder {
  margin: 60px 0;

  @media (max-width: $mobileLarge) {
    display: none;
  }

  border: 1px solid #b0b0b0;
  border-radius: 8px;
}

.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.5%;

  @media (min-width: $desktop) {
    padding: 4%;
  }

  span {
    font-size: 13px;
    font-weight: 500;
    color: #262626;
  }
}

.Left {
  h4 {
    font-size: 17px;
    font-weight: 800;
    color: #262626;
    margin: 0;
  }

  p {
    font-size: 13px;
    font-weight: 500;
    color: #444444cc;
    margin-bottom: 0;
  }
}

.Table {
  width: 100%;

  .Row {
    display: flex;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #b0b0b0;
    box-sizing: border-box;
    padding: 2.3% 4.5%;
    justify-content: space-between;
    align-items: center;
    transition-duration: 250ms;

    &:hover {
      background: rgba(200, 200, 200, 0.1);
    }

    @media (min-width: $desktop) {
      padding: 2% 4%;
    }
  }
}

.Col {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $tablet) {
    &:last-child {
      display: none;
    }
  }
}

.Id {
  cursor: pointer;
}

.PaginationPending {
  opacity: 0.5;
  pointer-events: none;
}

.Status {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Retry {
  padding: 0;
  margin-left: auto;

  svg {
    fill: $gray;
  }
}

.RetryActive {
  .RetryIcon {
    animation: animateRetry 750ms;
    animation-iteration-count: infinite;
  }
}

@keyframes animateRetry {
  from {
    transform: rotate(-360deg);
  }
}

.Success {
  color: $green;
}

.Delivery {
  color: #526ed3;
}

.Canceled {
  color: $red;
}

.NewOrder {
  color: #526ed3;
}

.Image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.Empty {
  margin-top: 160px;
  margin-bottom: 80px;
}

.EmptyTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.EmptySubtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  color: $gray;
  text-align: center;
}

.Button {
  display: block;
  margin: 40px auto 0;
  width: fit-content;
}

.Pagination {
  justify-content: center;
}
