@import 'src/styles/variables';
@import 'src/styles/mixins';

.ModalHeader {
  .Title {
    margin: 0 0 40px;

    @media (max-width: $desktop) {
      margin: 0 0 28px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }

    @media (max-width: $mobileLarge) {
      margin-bottom: 20px;
    }
  }

  .Divider {
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      margin-bottom: 28px;
    }

    @media (max-width: $mobileLarge) {
      margin-bottom: 40px;
    }
  }

  .Breadcrumbs {
    margin-bottom: 16px;
    @media (max-width: $mobileLarge) {
      display: none;
    }
  }
}

.MenuList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Item {
  padding: 20px 24px 40px;
  border: 1px solid $grayLight;
  border-radius: 8px;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    padding: 16px 24px 16px 58px;
    box-shadow:
      0px 0px 0.5px rgba(66, 71, 76, 0.32),
      0px 4px 8px rgba(66, 71, 76, 0.05),
      0px 4px 40px #eeeeee;
    border-radius: 13px;
    border: none;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  svg {
    stroke: $secondary;
    margin-bottom: 8px;

    @media (max-width: $tablet) {
      position: absolute;
      left: 16px;
      top: 16px;
    }
  }

  h3 {
    color: $black;
    font-weight: 800;
    font-size: 17px;
    line-height: 28px;
    margin: 0 0 20px;

    @media (max-width: $desktop) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 12px;
    }

    @media (max-width: $tablet) {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: rgba(26, 26, 26, 0.9);
      margin-bottom: 2px;
    }
  }

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: $gray;
    margin: 0;

    @media (max-width: $desktop) {
      font-size: 13px;
      line-height: 20px;
    }

    @media (max-width: $tablet) {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.078px;
      color: rgba(26, 26, 26, 0.55);
    }
  }
}

.Footer {
  @media (max-width: $mobileLarge) {
    display: none;
  }
}
