@import 'src/styles/variables';
@import 'src/styles/mixins';

.Links {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;

  @media (max-width: $tablet) {
    //display: none;
  }
}

.Title {
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  margin: 0 0 24px;
}

.Catalog {
  @media (max-width: $tablet) {
    display: none;
  }
}

.Block {
  margin-right: 10%;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 100px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet) {
    &:nth-of-type(2) {
      margin-right: 0;
    }
  }
}

.LastList {
  @media (max-width: $tablet) {
    display: none;
  }
}

.Item {
  margin: 0 0 24px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Link {
  text-decoration: none;
  color: $gray;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  transition-property: color;
  transition-duration: 200ms;
  background: none;
  text-align: left;
  padding: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  svg {
    stroke: $black;
    display: block;
    margin-right: 12px;
  }

  @media (max-width: $desktop) {
    font-size: 13px;
    line-height: 20px;
  }

  &:hover {
    color: darken($gray, 15%);
  }
}

.LinkSocial {
  color: $black;
}
